<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manu</title>
</head>
<body>


<form name="order" action="/place_order" method="post">
    <table>
        <thead>
            <tr>
                <th>Item</th>
                <th>Picture</th>
                <th>Price</th>
                <th>Number</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Pizza</td>
                <td><img width="150" src="../static/pizza.jpg"/></td>
                <td>$12.99</td>
                <td>3</td>
            </tr>
        </tbody>
    </table>
</form>

</body>
</html>